*{margin:0;padding:0;box-sizing:border-box;}
.w-screen{width:100vw;}
.h-screen{height:100vh;}
.mt-10{margin-top:10px;}
.flex{display:flex;}
.flex-col{flex-direction:column;}
.gap-22{gap:22px;}
.items-center{align-items:center;}
.grid{display:grid;}
.gap-x-6{column-gap:24px;}
.w-full{width:100%;}
.h-full{height:100%;}
.border-1{border:1px solid;}
.rounded-2{border-radius:8px;}
.cursor-pointer{cursor:pointer;}
.justify-center{justify-content:center;}
.text-lg{font-size:18px;}
.rounded-lg{border-radius:8px;}
.gap-7{gap:28px;}
.w-fit{width:fit-content;}
.items-start{align-items:start;}
.font-normal{font-size:16px;}
.gap-6{gap:24px;}
.w-156{width:624px;}
.h-25{height:100px;}
.justify-between{justify-content:space-between;}
.px-5{padding-left:20px; padding-right:20px;}
.py-3{padding-top:12px; padding-bottom:12px;}
.text-sm{font-size:14px;}
.gap-2{gap:8px;}
.outline-none{outline:none;}
.w-25{width:100px;}
.h-7{height:28px;}
.px-2{padding-left:8px;padding-right:8px;}
.text-xs{font-size:12px;}
.w-50{width:200px;}
.hidden{display:none;}
.gap-1{gap:4px;}
.fixed{position:fixed;}
.left-0{left:0;}
.top-0{top:0;}
.justify-end{justify-content:end;}
.px-1{padding-left:4px;padding-right:4px;}
.py-1{padding-top:4px;padding-bottom:4px;}
.px-6{padding-left:24px;padding-right:24px;}
.text-white{color:white;}
.max-h-full{max-height:100%;}
.overflow-auto{overflow:auto;}
.bg-none{background:transparent;}
.border-none{border:none;}